<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
 <appender name="outboundAppender"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/outbound.log</File>
        <append>true</append>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/outbound.log.%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
	
	   <appender name="MAAP"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/maap.log</File>
        <append>true</append>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/maap.log.%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level-%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <logger name="com.cmcc.vg.send.http.interceptor.LogInterceptor" level="DEBUG">  
        <appender-ref ref="MAAP" />
    </logger>
    <logger name="com.cmcc.vg.maap.upload.http.interceptor.LogInterceptor" level="DEBUG">  
        <appender-ref ref="MAAP" />
    </logger>
    
	   <logger name="com.aspire.zte.send.controller.OutboundController" level="DEBUG">
        <appender-ref ref="outboundAppender" />
    </logger>

	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />

	</root>
</configuration>